/* ----- HEAD ----------------------------------------------------- */
#headBorderLeft{
	background: transparent url(../../img/showFeatureMap/headBorderLeft.gif) no-repeat left center;  
    height:84px; 
    width:18px;  
    position: absolute;
    top:0px;
    left:0px;
    
}

#headImgLeft{
	background: #ffffff url(../../img/showFeatureMap/sigm_vados/logoType.gif) no-repeat 6px center;  
    height:80px;
    width:75px;  
    border:2px solid black;  
    border-left:0px;
    position: absolute;
    top:0px;
    left:15px;
}
 
#headImgRight{
	background: #ffffff url(../../img/showFeatureMap/logoRegion.gif) no-repeat center center;    
    height:80px;
    width:161px;    
    border:2px solid black;  
    border-right:0px; 
    position: absolute;
    top:0px;
    right:13px;    
}

#headBorderRight{
	background: transparent url(../../img/showFeatureMap/headBorderRight.gif) no-repeat right center;  
    height:84px;
    width:18px;  
    position: absolute;
    top:0px;
    right:0px;   
}

/*----- OpenLayers Styles ----------------*/

.olControlSelectFeatureLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureSelect.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlSelectFeatureLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureSelect_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlSelectFeatureLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureSelect_over.gif");
	cursor: pointer;
}

.olControlDrawFeaturePolygonLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePolygonLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePolygonLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
	cursor: pointer;
}

.olControlDrawFeaturePathLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePathLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePathLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
	cursor: pointer;
}

.olControlDrawFeaturePointLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePointLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDrawFeaturePointLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDraw_over.gif");
	cursor: pointer;
}

.olControlModifyFeatureItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarNavZoomOut.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarNavZoomOut_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarNavZoomOut_over.gif");
	cursor: pointer;
}


.olControlModifyFeatureReshapeLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureReshape.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureReshapeLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureReshape_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureReshapeLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureReshape_over.gif");
	cursor: pointer;
}

.olControlModifyFeatureResizeLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureResize.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureResizeLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureResize_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureResizeLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureResize_over.gif");
	cursor: pointer;
}


.olControlModifyFeatureRotateLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureRotate.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureRotateLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureRotate_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureRotateLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureRotate_over.gif");
	cursor: pointer;
}


.olControlModifyFeatureDragLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDrag.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureDragLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDrag_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlModifyFeatureDragLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDrag_over.gif");
	cursor: pointer;
}



.olControlDeleteFeatureLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDelete.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDeleteFeatureLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDelete_over.gif");
    background-repeat: no-repeat;
    width: 36px;
    height: 36px;
}

.olControlDeleteFeatureLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_vados/toolbarFeatureDelete_over.gif");
	cursor: pointer;
}


