/* ----- HEAD ----------------------------------------------------- */

#headImgLeft{	
	background: transparent url(../../img/showFeatureMap/sigm_atestados/logoType.png) no-repeat center center;  	
	height:50px;
	width:55px;  
}
 
#headImgRight{
	background: transparent url(../../img/showFeatureMap/logoRegion.png) no-repeat center center;    
    height:90px;
    width:168px;    
    position: relative;
}

/*----- OpenLayers Styles ----------------*/

.olControlSelectFeatureLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureSelect.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlSelectFeatureLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureSelect_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlSelectFeatureLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureSelect_over.png");
	cursor: pointer;
}

.olControlDrawFeaturePolygonLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePolygonLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePolygonLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
	cursor: pointer;
}

.olControlDrawFeaturePathLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePathLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePathLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
	cursor: pointer;
}

.olControlDrawFeaturePointLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePointLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDrawFeaturePointLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDraw_over.png");
	cursor: pointer;
}

.olControlModifyFeatureItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarNavZoomOut.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarNavZoomOut_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarNavZoomOut_over.png");
	cursor: pointer;
}


.olControlModifyFeatureReshapeLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureReshape.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureReshapeLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureReshape_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureReshapeLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureReshape_over.png");
	cursor: pointer;
}

.olControlModifyFeatureResizeLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureResize.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureResizeLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureResize_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureResizeLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureResize_over.png");
	cursor: pointer;
}


.olControlModifyFeatureRotateLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureRotate.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureRotateLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureRotate_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureRotateLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureRotate_over.png");
	cursor: pointer;
}


.olControlModifyFeatureDragLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDrag.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureDragLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDrag_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlModifyFeatureDragLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDrag_over.png");
	cursor: pointer;
}



.olControlDeleteFeatureLocalgisItemInactive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDelete.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDeleteFeatureLocalgisItemActive {
    background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDelete_over.png");
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.olControlDeleteFeatureLocalgisItemInactive:hover {
	background-image: url("../../img/showFeatureMap/sigm_atestados/toolbarFeatureDelete_over.png");
	cursor: pointer;
}


