<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/LOCALGIS-APPS-Cementerios/src/main/java/com/geopista/app/cementerios/MainCementerios.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.geopista.app.cementerios.MainCementerios"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LOCALGIS-APPS-Cementerios"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.debug=false -Dlog4j.configuration=log4j.properties -Xmx1024M -DmostrarPaginacion=false -DmostrarMapa=true"/>
</launchConfiguration>
