/* CSS Document */
body
{
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	color: #333333;
}
h1, h2, h3, h4
{
	margin: 0;
	padding: 0;
}
h2
{
	font-size: 1.2em;
	font-weight: bold;
}
h3
{
	border-bottom: 1px solid #333333;
	font-size: 1em;
	font-weight: normal;
	margin-top: 24px;
}
h4
{
	margin: 0;
	padding: 0;
	font-weight: normal;
	margin-top: 33px;
}
img
{
	border: none;
}
textarea
{
	resize: none
}
#cabecera
{
	background-color: #00632E;
	padding: 5px 85px 5px 85px;
}
#cuerpo
{
	width: 960px;
	margin: 0 auto;
	padding-top: 17px;
}
.conjuntocabecera
{
	width: 960px;
	margin: 0 auto;
	padding: 0;
}
.clear
{
	clear: both;
}

.fizq
{
	float: left;
}

.fder
{
	float: right;
}

.negrita
{
	font-weight: bold;
}

.sin_borde
{
	border: none;
}

.fondo_blanco
{
	background-color: #FFF !important;
}

.alinea_inf
{
	vertical-align: bottom;
}

.oculto
{
	display: none !important;
}

.oculto_login
{
	border: 0 none;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.no_oculto
{
	display: block;
}

.mayuscula
{
	text-transform: uppercase;
}

.centrado
{
	text-align: center;
}

.logoscomplementos
{
	float: right;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	margin-top: 10px;
}
.logoscomplementos img
{
	margin: 0 10px;
}
/*MENU PRINCIPAL*/
ul.menuprincipal
{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.menuprincipal li
{
	float: left;
}
.activoppal
{
	display: block;
	background-color: #00632E;
	border: 1px solid #00632E;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.menuactivoppal
{
	display: block;
	background-color: #00632E;
	border: 1px solid #00632E;
	padding: 10px;
	/* margin-right: 10px; */
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul.menuprincipal li a
{
	display: block;
	background-color: #FFF;
	border: 1px solid #00632E;
	padding: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	text-align: center;
	text-decoration: none;
	color: #00632E;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
ul.menuprincipal li a:hover
{
	background-color: #00632E;
	border: 1px solid #00632E;
	color: #ffffff;
}
ul.menuprincipal li.on a
{
	background-color: #00632E;
	border: 1px solid #00632E;
	color: #ffffff;
}

/*CONTENIDO*/
.cuerpoprincipal
{
	background-color: #96BD0D;
	clear: both;
	padding: 14px 14px 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*MENU*/
.areamenu
{
	float: left;
	width: 21%;
	padding: 0 12px 0 0;
}
ul.menusecundario
{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.menusecundario li a
{
	display: block;
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #00632E;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
ul.menusecundario li a:hover
{
	background-color: #00632E;
	color: #fff;
}
ul.menusecundario li.on a
{
	background-color: #00632E;
	color: #fff;
}
ul.menusecundario li span
{
	display: block;
	background-color: #00632E;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*CENTRO*/
.areacompleta
{
	background-color: #FFF;
	padding: 20px; /*min-height: 500px;*/
}
.areacentral
{
	float: left;
	width: 75.1%;
	background-color: #fff;
	padding: 20px 12px;
}
.areacompleta .areacentral
{
	padding: 0 0 0 10px;
	width: 75%;
}
.contenedorarbol
{
	float: left;
	width: 95%;
}
ul.arbol
{
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.arbol ul
{
	list-style: none;
	margin: 0;
	margin-top: 10px;
}
ul.arbol li, ul.arbol ul li
{
	margin-bottom: 10px;
}
.operacionesarbol
{
	float: left;
	width: 28%;
}
.operacionesarbol20
{
	width: 18% !important;
}
.operacionesarbol ul
{
	margin: 0;
	list-style: none;
	margin-top: 40px;
	padding: 0px 0px 0px 20px;
}
.operacionesarbol ul a
{
	display: block;
	background-color: #96BD0D;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	text-decoration: none;
	color: #00632E;
	text-transform: uppercase;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
ul.operaciones
{
	margin: 0;
	list-style: none;
	padding: 0px;
}
ul.sinpuntos
{
	list-style-type: none;
}
ul.operaciones a
{
	background-color: #96BD0D;
	color: #00632E;
	display: block;
	margin: 4px 0 8px;
	padding: 6px 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 115px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
/*BOTÓN*/
a.boton
{
	background-color: #96BD0D;
	color: #00632E;
	display: block;
	font-size: 0.9em;
	padding: 6px 5px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 115px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
a.boton_grande
{
	width: 140px;
}
a.interroga
{
	background-image: url(../images/interrogacion.png);
	background-position: 5px 3px;
	background-repeat: no-repeat;
}
/*FORMULARIO*/
fieldset
{
	border: 1px solid #999;
	padding: 10px;
}
.linea
{
	padding: 5px 0;
}
label
{
	padding: 4px 0;
}
label.label
{
	width: 175px;
}
label.label_grande
{
	width: 530px;
}
.areamenu label, .areacentral label
{
	font-size: 0.9em;
}
input, select, textarea
{
	border: 1px solid #96BD0D;
	background-color: #FFF;
	padding: 4px 5px;
	margin: 0;
}
input.input_pequeno, textarea.input_pequeno
{
	width: 215px;
}
input.input, textarea.input
{
	width: 540px;
}
input.input_med, textarea.input_med
{
	width: 375px;
}

input[type="checkbox"]
{
	border: none;
	background-color: #FFF;
}
input[type="checkbox"]#publico
{
	margin: 16px 10px 0;
	padding: 0;
}
select.select_multiple
{
	width: 195px;
	height: 117px;
}
/* CUENTA */
.ul_cuenta
{
	background-color: #FFF;
	background-image: url(../images/select.png);
	background-position: right top;
	background-repeat: no-repeat;
	border-top: 1px solid #006328;
	margin: 0;
	padding: 0;
	z-index: 5000;
}
.ul_cuenta li
{
	list-style: none;
}
.ul_cuenta li a
{
	color: #006328;
	border-left: 1px solid #006328;
	border-right: 1px solid #006328;
	border-bottom: 1px solid #006328;
	padding: 4px 0 0 10px;
	min-height: 21px;
	width: 190px;
	display: block;
	text-decoration: none;
	margin-right: 27px;
	z-index: 5000;
}
.ul_cuenta li:hover ul
{
	display: block;
	z-index: 5000;
}
.ul_cuenta ul
{
	margin: 0;
	padding: 0;
	display: none;
	position: absolute;
	background-color: transparent;
	z-index: 5000;
}
.ul_cuenta ul li a
{
	background-color: #FFF;
}
.ul_cuenta ul li a:hover
{
	background-color: #F7F7F7;
}
/* AUTOCOMPLETAR */
#filtros
{
	width: 380px;
}
#fuente
{
	width: 155px;
}
ul.ui-autocomplete
{
	background-color: #FFF;
	border: 1px solid #999;
	list-style: none;
	color: #000;
	border-top: none;
	position: absolute;
}
.ui-autocomplete li.ui-menu-item
{
	/*margin: 0 0 0 -40px;*/
	padding: 2px 10px;
	font-size: 0.9em;
}
.ui-autocomplete li.ui-menu-item:hover
{
	cursor: pointer;
}
.ui-autocomplete li.ui-menu-item a.ui-corner-all
{
	display: block;
}
#ui-active-menuitem
{
	background-color: #F7F7F7;
}
/*TABLA*/
.tabla_indicador
{
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	text-align: left;
	width: 160px;
	font-size: 0.9em;
}
.tabla_exportar_pdf
{
	width: 800px;
	margin-top: 20px;
}

.tabla_indicador tr th, .tabla_exportar_pdf tr th
{
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #CCC;
	padding: 5px;
	cursor: pointer;
}
.tabla_indicador tr td, .tabla_exportar_pdf tr td
{
	border-bottom: 1px solid #999;
	padding: 5px;
	cursor: pointer;
}
.tabla_indicador tr td:hover
{
	background-color: #555555 !important;
	color: #ffffff;
}
.tabla_indicador tr td.seleccionada, .tabla_exportar_pdf tr td.seleccionada
{
	background-color: #ECECEC;
}
.tabla_indicador a, .tabla_exportar_pdf a
{
	color: #000;
	text-decoration: none;
}
.tabla_campos_a_mostrar
{
	width: 100%;
	font-size: 0.8em;
	white-space:nowrap;
}
.tabla_campos_a_mostrar tr th
{
	border-bottom: 1px solid #000;
	padding: 5px 18px;
}
.tabla_campos_a_mostrar tr td
{
	border-bottom: 1px solid #999;
	padding: 5px 18px;
}
.tabla_campos_a_mostrar a
{
	color: #000;
	text-decoration: none;
}
.tabla_seleccionada, .columna_seleccionada
{
	background-color: #555555 !important;
	color: #ffffff;
}

.columnaTablaRelacion
{
	background-color: #EEEEEE;
}
/*PIE*/
#pie
{
	text-align: center;
	padding: 8px 0;
	border-bottom: 1px solid #96BD0D;
	color: #00632E;
	font-size: 0.9em;
}
#pie a
{
	color: #00632E;
	text-decoration: none;
}
#pie a:hover
{
	text-decoration: underline;
}


/*SEPARACIONS*/
.sup6
{
	margin-top: 6px;
}

.sup10
{
	margin-top: 10px;
}

.sup40
{
	margin-top: 40px;
}

.inf15
{
	margin-bottom: 15px;
}

.izq50 {
	margin-left: 50px;
}

.padding_izq30 {
	padding-left: 30px;
}

.izq10
{
	margin-left: 10px;
}

/* nuevas */
.botones_accion
{
	height: 35px;
}
.ancho80
{
	width: 82%;
}
.ancho70 { width: 72% !important; }
.ancho17
{
	width: 17%;
}
.ancho95
{
	width: 95%;
}
.ancho100
{
	width: 100%;
}
.alto40
{
	height: 40px;
}

.controlAlertas .ui-state-error, .controlAlertas .ui-state-highlight, .controlAlertas succes, #dialog .ui-state-error, #dialog .ui-state-highlight, #dialog succes
{
	margin-bottom: 0;
	padding: 0.2em 0.7em;
}

.error, .alert, .notice, .success, .info, .detalles_error
{
	border: 2px solid #DDDDDD;
	margin-bottom: 1em;
	padding: 0.8em;
}
.error, .alert
{
	background: none repeat scroll 0 0 #FBE3E4;
	border-color: #FBC2C4;
	color: #8A1F11;
}
.notice
{
	background: none repeat scroll 0 0 #FFF6BF;
	border-color: #FFD324;
	color: #514721;
}
.success
{
	background: none repeat scroll 0 0 #E6EFC2;
	border-color: #C6D880;
	color: #264409;
}

.fondoGris
{
	background-color: #CCCCCC !important;
}
.texto_09
{
	font-size: 0.9em;
}
.texto_08
{
	font-size: 0.8em;
}
.texto_07
{
	font-size: 0.7em;
}

/* tablas listados */
table
{
	font-size: 0.8em;
	padding: 0px;
	margin: 0px;
}
table.peque { width: 22% !important; }
table.tablasTrabajo
{
	width: 100%;
}

table.tablasTrabajo td.tablasDetalle
{
	color: #333333;
}

table.tablasTrabajo td.tablasDetalleFuentes
{
	color: #333333;
	word-break: break-all;
}

table.tablasTrabajo td.inactivo a
{
	color: #CC2B02;
}
table.tablasTrabajo td
{
	padding: 4px;
}
a.tablasTrabajo
{
	display: block;
	color: #555555;
	text-decoration: none;
	padding: 3px;
}

a.tablasTrabajo:hover
{
	text-decoration: none;
	color: black;
}

th.tablaTitulo a
{
	text-decoration: none;
	color: #00688B;
}

th.tablaTitulo a:hover
{
	text-decoration: underline;
}

table.tablasTrabajo th.tablaTitulo
{
	background-color: white;
	white-space: nowrap;
	text-align: center;
	color: #000;
	padding: 6px 6px 6px 6px;
	border-bottom: 2px solid #999999;
}

table.tablasTrabajo th.tablaTitulo.izquierda
{
	text-align: left;
}

.izquierda
{
	text-align: left;
}

.derecha
{
	text-align: right;
}
.centro
{
	text-align: center;
}

table.tablasTrabajo td
{
	color: #333333;
	background-color: #666666;
	font-weight: normal;
	text-align: center;
	border-bottom: 1px solid #999999;
}

table.tablasTrabajo td.izquierda
{
	text-align: left;
}

table.tablasTrabajo td.derecha
{
	text-align: right;
	padding-right: 12px;
}

table.tablasTrabajo td.subApartado
{
	border-bottom: 1px solid #CCCCCC;
}

table.tablasTrabajo tr.destacadoTablas td
{
	background-color: #E8E8E8;
	cursor: pointer;
}

table.tablasTrabajo tr td
{
	background-color: white;
}

table.tablasTrabajo td input
{
	padding: 1px;
	margin: 4px 3px 4px 25px;
	color: #666666;
}

table.tablasTrabajo td select
{
	border: 1px solid #0079AC;
	margin: 4px 3px 4px 25px;
	padding: 1px 0;
	width: 224px;
}

table.tablasTrabajo td input.centrado
{
	margin-left: 110px;
}
/* tabla jerarquia */
table.tabla_jerarquia
{
	width: 100%;
	font-size: 0.9em;
	padding: 0px;
	margin: 0px;
}
table.tabla_jerarquia th
{
	font-size: 0.9em;
	font-weight: bold;
}
table.tabla_jerarquia td
{
	padding: 5px;
	border-bottom: 1px solid #CCCCCC;
	color: #555555;
}

table.tabla_jerarquia td.no_cat a
{
	padding: 5px 5px 5px 0px;
	/*border-bottom: 1px solid #CCCCCC;*/
	color: #555555;
}
table.tabla_jerarquia td.cat a
{
	padding: 5px 5px 5px 0px;
	color: #555555;
	font-size: 1.1em;
	font-weight: bold;
	text-transform: uppercase;
}
table.tabla_jerarquia td a, table.tabla_jerarquia th a
{
	text-decoration: none;
	color: #000000;
	margin-top: 2px;
}
table.tabla_jerarquia td.destacadoTablas, table.tabla_jerarquia th.destacadoTablas
{
	background-color: #E8E8E8;
	cursor: pointer;
}

/* LOGIN */
.label_login
{
	float: left;
	width: 150px;
	text-align: left;
}
.input_login
{
	width: 200px;
	float: left;
}

/* idiomas */
.idioma_seleccionado
{
	background-color: #96BD0D !important;
	color: #00632E !important;
}

.enlaceTablaCategoria {
	color: #000000;
}

/* Checks en dos columnas */
.dos_columnas {
	float: left;
	width: 280px;
	padding: 10px 0px 10px 0px; 
}

/* Diagrama de sectores */
table.jqplot-table-legend {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    background-color: rgba(255,255,255,0.6);
    border: 1px solid #cccccc;
    position: absolute;
    font-size: 0.75em;
}

td.jqplot-table-legend {
    vertical-align:middle;
}

td.jqplot-seriesToggle:hover, td.jqplot-seriesToggle:active {
    cursor: pointer;
}

td.jqplot-table-legend > div {
    border: 1px solid #cccccc;
    padding:1px;
}

div.jqplot-table-legend-swatch {
    width:0px;
    height:0px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 6px;
    border-right-width: 6px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

.exportar-parametros { width: 200px; text-align: center; }
.exportar-tabla { width: 150px; text-align: center; }
.exportar-barras { width: 150px; text-align: center; }
.exportar-sectores { width: 150px; text-align: center; }
.exportar-mapa { width: 150px; text-align: center; }


div.dataTables_scrollBody{
	 height: 300px;
}

a.claseLink:visited 
{
	color:black;
}

.linkHistorico
{
	text-decoration:none;
	color:black;
	display: block;
	background-color: #DDDDDD;
	border-bottom-width: 2px;
	border-bottom-color: white;
	border-bottom-style: solid;
}
a.linkHistorico:visited
{
	text-decoration: none;
	color:black;
}

a.linkHistorico:hover
{
	background-color: #CCCCCC;
	cursor: pointer;
}
#slider {
    margin-top: 20px;
    border: 1px solid #666;
}
#slider .ui-widget-header {
  background-color: #E8E8E8 !important;
  background-image: none;
  border: 0 none !important;
}
#slider a {
  background-color: #666666 !important;
  background-image: none;
  border: 0 none !important;
  height: 20px;
}
#ticks-slider {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  height: 10px;
  margin-top: 5px;
  width: 100%;
  overflow: hidden;
}
.tick-slider {
  border-right: 1px solid #666;
  display: block;
  float: left;
  height: 10px;
}
#listaHistoricos {
	border: 1px solid #666666 !important;
}