<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>LocalGISGeoWebServices</display-name>
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
		org.apache.axis2.transport.http.AxisServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Apache-Axis Admin Servlet Web Admin</display-name>
		<servlet-name>AxisAdminServlet</servlet-name>
		<servlet-class>
		org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisAdminServlet</servlet-name>
		<url-pattern>/axis2-admin/*</url-pattern>
	</servlet-mapping>
	<env-entry>
 		<description>Clase que implementa el DAO FACTORY de civilwork</description>
 		<env-entry-name>civilWorkDaoFactory</env-entry-name>
 		<env-entry-type>java.lang.String</env-entry-type>
 		<env-entry-value>com.localgis.webservices.civilwork.model.dao.postgres.PostgresDAOFactory</env-entry-value>
	</env-entry>
	<env-entry>
 		<description>Clase que implementa el DAO FACTORY de geomarketing</description>
 		<env-entry-name>geoMarketingDaoFactory</env-entry-name>
 		<env-entry-type>java.lang.String</env-entry-type>
 		<env-entry-value>com.localgis.webservices.geomarketing.model.dao.postgres.PostgresDAOFactory</env-entry-value>
	</env-entry>
	<env-entry>
	 	<description>Nombres de red a asociar</description>
	 	<env-entry-name>networkName</env-entry-name>
	 	<env-entry-type>java.lang.String</env-entry-type>
	 	<env-entry-value>Callejero</env-entry-value>
	</env-entry>
	<resource-ref>
 <description>PostgreSQL</description>
 <res-ref-name>postgresql</res-ref-name>
 <res-type>javax.sql.DataSource</res-type>
 <res-auth>Container</res-auth>
</resource-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>/axis2-web/index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/axis2-web/Error/error404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/axis2-web/Error/error500.jsp</location>
	</error-page>
</web-app>
