.olControlLayerSwitcherLocalgis {
    overflow: auto;
    margin:5px;
    height:267px;
}

.olControlToolbarLocalgis div {
	position: relative;	
	float: left;/
    margin-left:5px;
    margin-right:5px;
    background-position: center center; 
}


.olControlToolbarLocalgisIncidencias {
	display: inline;
}

.olControlToolbarLocalgisIncidencias div {
	position: relative;
	float: left;
	background-position: bottom;
	margin-right: 5px;
    margin-left: 5px;
}


.olControlToolbarLocalgisReduced {
    display: inline;
}

.olControlToolbarLocalgisReduced div {
    position: relative;
    float: left;
    background-position: bottom;
    margin-right: 5px;
    margin-left: 5px;
}

.olControlIncidenciaLocalgisItemInactive {
	background-image: url("img/incidencia_off.png");
	background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.olControlIncidenciaLocalgisItemActive {
	background-image: url("img/incidencia_on.png");
	background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.olControlGetFeatureInfoLocalgisItemInactive {
	background-image: url("img/info.gif");
	background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.olControlGetFeatureInfoLocalgisItemActive {
	background-image: url("img/info_50.gif");
	background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.olControlMarkerLocalgisItemInactive {
	background-image: url("img/marca.gif");
	background-repeat: no-repeat;
    width: 15px;
    height: 30px;
}

.olControlMarkerLocalgisItemActive {
	background-image: url("img/marca_50.gif");
	background-repeat: no-repeat;
    width: 15px;
    height: 30px;
}

.olControlPrintLocalgisItemInactive {
	background-image: url("img/print.gif");
	background-repeat: no-repeat;
    width: 22px;
    height: 30px;
}

.olControlPrintLocalgisItemActive {
	background-image: url("img/print_50.gif");
	background-repeat: no-repeat;
    width: 22px;
    height: 30px;
}

.olControlSearchLocalgisItemInactive {
	background-image: url("img/prisma.gif");
	background-repeat: no-repeat;
    width: 26px;
    height: 30px;
}

.olControlSearchLocalgisItemActive {
	background-image: url("img/prisma_50.gif");
	background-repeat: no-repeat;
    width: 26px;
    height: 30px;
}

.olControlSaveLocalgisItemInactive {
	background-image: url("img/save.gif");
	background-repeat: no-repeat;
    width: 20px;
    height: 30px;
}

.olControlSaveLocalgisItemActive {
	background-image: url("img/save_50.gif");
	background-repeat: no-repeat;
    width: 20px;
    height: 30px;
}

.olScaleBarBar {
	background-color: #E3E3E3;
	background-image: url(img/bar.png);
	background-position: 0pt;
	background-repeat: repeat-x;
	height: 11px;
	opacity: 0.85;
	top: 12px;
}

.olScaleBarBarAlt {
	background-color: #E3E3E3;
	background-image: url(img/barAlt.png);
	background-position: 0pt;
	background-repeat: repeat-x;
	height: 11px;
	opacity: 0.85;
	top: 12px;
}

.scaleBarLeft {
	background-color: #E3E3E3;
	background-image: url(img/scaleLeft.png);
	background-position: 0pt;
	background-repeat: no-repeat;
	height: 11px;
	top: 12px;
}

.scaleBarRight {
	background-color: #E3E3E3;
	background-image: url(img/scaleRight.png);
	background-position: 0pt;
	background-repeat: no-repeat;
	height: 11px;
	top: 12px;
}

.olScaleBarNumbersBox {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small; /* IE5.x */
    font-size: x-small; /* Estandares */
    font-weight: bold;
	height: 13px;
	text-decoration: none;
	top: 24px;
	width: 40px;
}

.olScaleBarLabelBox {
	font-size: 9px;
	font-weight: bold;
	text-decoration: none;
	top: 10px;
}

.sbContainer {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
	bottom: 40px;
	left: 5px;
}

.olLayerSwitcherLocalgisLayerExpanded {
	background-image: url(img/arrowDown.gif);
	background-repeat: no-repeat;
	display: inline;
	cursor: pointer;
}

.olLayerSwitcherLocalgisLayerCollapsed {
	background-image: url(img/arrowRight.gif);
	background-repeat: no-repeat;
	display: inline;
	cursor: pointer;
}

.olLayerSwitcherLocalgisLegendVisible {
	display: block;
	margin-left: 15px;
}

.olLayerSwitcherLocalgisLegendHidden {
	display: none;
	margin-left: 15px;
}

.olLayerSwitcherLocalgisLayerInactive {
	background-color: #ffffff;
	font-family: Arial;
}

.olLayerSwitcherLocalgisLayerActive {
	background-color:rgb(85,125,193);
	color: white;
	font-family: Arial;
}

.olLayerSwitcherLocalgisLayerLabel {
	display: inline;
	cursor: default;
}

.olPopupContent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	padding: 5px;
}

#popupLocalgisTitle {
	width: 100%;
	margin-top: auto;
	margin-right: auto;
	text-align: center;
	height: 18px;
}

#popupLocalgisFirstLine {
	background-color: #932483;
	height: 10px;
}

#popupLocalgisSecondLine {
	background-color: #d4a7ce;
	height: 3px;
	margin-top: 2px;
	margin-bottom: 2px;
}

#popupLocalgisBody {
	max-height: 160px;
	overflow: auto;
	text-align: center;
	height: 160px;
}
#popupLocalgisBodyBig {
	max-height: 210px;
	overflow: auto;
	text-align: center;
	height: 210px;
}

.olLayerSwitcherLocalgisLayerWithoutLegend {
    display: inline;
}

.popupLocalgisList {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:10px;
    font-weight: bold;
}

.popupLocalgisListItem {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:10px;
    font-weight:normal;
    margin-right:5px;
    cursor: pointer;
}

.popupLocalgisListItemSelected {
    font-family: Arial, Helvetica, sans-serif; 
    font-size:10px;
    font-weight:normal;
    margin-right:5px;
    cursor: pointer;
    background-color: #d4a7ce;
}

#popupLocalgisListResults {
    max-height: 90px;
    overflow: auto;
    text-align: left;
}

#popupLocalgisListGoResult {
    background-image: url(img/globo.gif);
    background-repeat: no-repeat;
    width: 28px;
    height: 23px;
    margin-top: 5px;
    margin-left: 46%;
    cursor: pointer;
}

.imageButton {
    cursor: pointer;
}

.olMarkerListLocalgisElement {
	background-image: url(img/marca_peq.gif);
	background-repeat: no-repeat;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;   
    color: #707070;   
    background-color: transparent;
    margin-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
}

.olMarkerListLocalgisElementLabel {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;   
    color: #707070;   
    background-color: transparent;
    margin-left: 15px;
    padding-top: 2px;
    cursor: pointer;
}

.olControlOverviewMapLocalgisContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-left: 1px solid darkgray;
    border-top: 1px solid darkgray;
}

.olControlOverviewMapLocalgisElement {
    padding: 10px 18px 10px 10px;
    background-color: #f9f9f9;
}

.olControlOverviewMapLocalgisMinimizeButton {
    right: 0px;
    bottom: 0px;
}    

.olControlOverviewMapLocalgisMaximizeButton {
    right: 0px;
    bottom: 0px;
}

.olControlOverviewMapLocalgisExtentRectangle {
   cursor: move;
    border: 1px solid #851C79;
    opacity: 0.40;
    filter: alpha(opacity=40);
    background-color: #CDACC7
}

div.olControlMousePosition {
    bottom: 0px;
    right: 15px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-weight: bold;
    font-size: 10px;
    cursor: default;
    color: darkblue;
}


.olControlRutasLocalgisItemInactive {
	background-image: url("img/rutas_off.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.olControlRutasLocalgisItemActive {
	background-image: url("img/rutas.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.olControlWithinCostLocalgisItemInactive {
	background-image: url("img/area_inf_off.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.olControlWithinCostLocalgisItemActive {
	background-image: url("img/area_inf.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}
.olControlSalesManLocalgisItemInactive {
	background-image: url("img/viajante_off.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.olControlSalesManLocalgisItemActive {
	background-image: url("img/viajante.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.olControlWMSTimeItemInactive{
	background-image: url("img/wmst.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 30px;
}
.olControlWMSTimeItemActive{
	background-image: url("img/wmst_50.gif");
	background-repeat: no-repeat;
    width: 25px;
    height: 30px;
}
