<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>Geopista</display-name>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GetPerfil</servlet-name>
		<servlet-class>com.geopista.server.control.web.GetPerfil</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginContaminantes</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CServletIntentos</servlet-name>
		<servlet-class>com.geopista.server.control.web.CServletIntentos</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.geopista.server.control.web.Logout</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CServletDB</servlet-name>
		<servlet-class>com.geopista.sql.CServletDB</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HeartBeat</servlet-name>
		<servlet-class>com.geopista.server.control.web.HeartBeat</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>AdministradorCartografiaServlet</servlet-name>
		<servlet-class>com.geopista.server.administradorCartografia.AdministradorCartografiaServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GetInspectores</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.GetInspectores</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SaveInspector</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.SaveInspector</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
		<servlet-name>SaveActividad</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.SaveActividad</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
		<servlet-name>DeleteActividad</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.DeleteActividad</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GetActividades</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.GetActividades</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DeleteInspector</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.DeleteInspector</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SaveArbolado</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.SaveArbolado</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DeleteArbolado</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.DeleteArbolado</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GetPlantillas</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.GetPlantillas</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SaveVertedero</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.SaveVertedero</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>DeleteVertedero</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.DeleteVertedero</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>GetDireccionMasCercana</servlet-name>
		<servlet-class>com.geopista.server.contaminantes.web.GetDireccionMasCercana</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
    <servlet>
        <servlet-name>GestionarHistorico</servlet-name>
        <servlet-class>com.geopista.server.contaminantes.web.GestionarHistorico</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
     <servlet>
        <servlet-name>GetHistorico</servlet-name>
        <servlet-class>com.geopista.server.contaminantes.web.GetHistorico</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
<!--    	<servlet> -->
<!-- 		<servlet-name>SeleccionarEntidad</servlet-name> -->
<!-- 		<servlet-class>com.geopista.server.control.web.SeleccionarEntidad</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->
	
<!-- 	<servlet> -->
<!-- 		<servlet-name>SeleccionarMunicipio</servlet-name> -->
<!-- 		<servlet-class>com.geopista.server.control.web.SeleccionarMunicipio</servlet-class> -->
<!-- 		<load-on-startup>1</load-on-startup> -->
<!-- 	</servlet> -->

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPerfil</servlet-name>
		<url-pattern>/GetPerfil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginContaminantes</servlet-name>
		<url-pattern>/LoginContaminantes</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CServletDB</servlet-name>
		<url-pattern>/CServletDB</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HeartBeat</servlet-name>
		<url-pattern>/HeartBeat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CServletIntentos</servlet-name>
		<url-pattern>/CServletIntentos</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AdministradorCartografiaServlet</servlet-name>
		<url-pattern>/AdministradorCartografiaServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetInspectores</servlet-name>
		<url-pattern>/GetInspectores</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveInspector</servlet-name>
		<url-pattern>/SaveInspector</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
		<servlet-name>SaveActividad</servlet-name>
		<url-pattern>/SaveActividad</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteInspector</servlet-name>
		<url-pattern>/DeleteInspector</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveArbolado</servlet-name>
		<url-pattern>/SaveArbolado</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteArbolado</servlet-name>
		<url-pattern>/DeleteArbolado</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetPlantillas</servlet-name>
		<url-pattern>/GetPlantillas</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetActividades</servlet-name>
		<url-pattern>/GetActividades</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DeleteActividad</servlet-name>
		<url-pattern>/DeleteActividad</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SaveVertedero</servlet-name>
		<url-pattern>/SaveVertedero</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVertedero</servlet-name>
		<url-pattern>/DeleteVertedero</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDireccionMasCercana</servlet-name>
		<url-pattern>/GetDireccionMasCercana</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionarHistorico</servlet-name>
        <url-pattern>/GestionarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistorico</servlet-name>
        <url-pattern>/GetHistorico</url-pattern>
    </servlet-mapping>
    
<!--     	<servlet-mapping> -->
<!-- 		<servlet-name>SeleccionarEntidad</servlet-name> -->
<!-- 		<url-pattern>/SeleccionarEntidad</url-pattern> -->
<!-- 	</servlet-mapping> -->
	
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>SeleccionarMunicipio</servlet-name> -->
<!-- 		<url-pattern>/SeleccionarMunicipio</url-pattern> -->
<!-- 	</servlet-mapping> -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/SaveInspector/*</url-pattern>
			<url-pattern>/SaveActividad/*</url-pattern>
			<url-pattern>/DeleteActividad/*</url-pattern>
			<url-pattern>/DeleteInspector/*</url-pattern>
			<url-pattern>/SaveArbolado/*</url-pattern>
			<url-pattern>/DeleteArbolado/*</url-pattern>
			<url-pattern>/SaveVertedero/*</url-pattern>
			<url-pattern>/DeleteVertedero/*</url-pattern>
            <url-pattern>/GestionarHistorico/*</url-pattern>
<!--             <url-pattern>/SeleccionarEntidad/*</url-pattern> -->
<!--             <url-pattern>/SeleccionarMunicipio/*</url-pattern> -->
	</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Contaminantes.Edit</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/AdministradorCartografiaServlet/*</url-pattern>
			<url-pattern>/GetInspectores/*</url-pattern>
			<url-pattern>/GetPlantillas/*</url-pattern>
			<url-pattern>/GetActividades/*</url-pattern>
			<url-pattern>/GetDireccionMasCercana/*</url-pattern>
            <url-pattern>/GetHistorico/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Contaminantes.View</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/LoginContaminantes/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Contaminantes.Login</role-name>
		</auth-constraint>
	</security-constraint>
	
	

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/CServletDB/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Contaminantes.View</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/GetPerfil/*</url-pattern>
			<url-pattern>/Logout/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Common.Actions</role-name>
		</auth-constraint>
	</security-constraint>


	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Jetty Demo Realm</realm-name>
	</login-config>
	
	<security-role>
	    <role-name>Geopista.Common.Actions</role-name>       
	</security-role>
	
	<security-role>
		<role-name>Geopista.Contaminantes.Login</role-name>       
	</security-role>	
	
	<security-role>
		<role-name>Geopista.Contaminantes.View</role-name>       
	</security-role>
	
	<security-role>
	    <role-name>Geopista.Contaminantes.Edit</role-name>       
	</security-role>	

	<security-role>
		<role-name>Geopista.Administracion.Login</role-name>
	</security-role>

</web-app>


