<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  


<display-name>Localgis</display-name>
  <session-config>
    <session-timeout>120</session-timeout>
  </session-config>
  


<servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
            org.apache.struts.action.ActionServlet
        </servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
    		org.directwebremoting.servlet.DwrServlet
    	</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>crossDomainSessionSecurity</param-name>
        <param-value>false</param-value>
	</init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>getFeatureInfoProxy</servlet-name>
    <servlet-class>
            com.localgis.web.servlets.GetFeatureInfoProxy
        </servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/public/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/private/dwr/*</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/incidencias/dwr/*</url-pattern>
    </servlet-mapping> 
    
  <servlet-mapping>
    <servlet-name>getFeatureInfoProxy</servlet-name>
    <url-pattern>/public/getFeatureInfoProxy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getFeatureInfoProxy</servlet-name>
    <url-pattern>/private/getFeatureInfoProxy</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
        <servlet-name>getFeatureInfoProxy</servlet-name>
        <url-pattern>/incidencias/getFeatureInfoProxy</url-pattern>
    </servlet-mapping>
    
  <filter>
    <filter-name>setPublicConfiguration</filter-name>
    <filter-class>com.localgis.web.filters.SetConfigurationFilter</filter-class>
    <init-param>
      <param-name>configurationLocalgisWeb</param-name>
      <param-value>public</param-value>
    </init-param>
  </filter>
       <filter>
        <filter-name>setIncidenciasConfiguration</filter-name>
        <filter-class>com.localgis.web.filters.SetConfigurationFilter</filter-class>
        <init-param>
            <param-name>configurationLocalgisWeb</param-name>
            <param-value>incidencias</param-value>
        </init-param>
    </filter>
  <filter>
    <filter-name>setPrivateConfiguration</filter-name>
    <filter-class>com.localgis.web.filters.SetConfigurationFilter</filter-class>
    <init-param>
      <param-name>configurationLocalgisWeb</param-name>
      <param-value>private</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.localgis.web.filters.LoginFilter</filter-class>
    <init-param>
      <param-name>loginAction</param-name>
      <param-value>/private/login.do</param-value>
    </init-param>
  </filter>

    <filter>
    <filter-name>loginFilterAjax</filter-name>
    <filter-class>com.localgis.web.filters.LoginFilter</filter-class>
    <init-param>
      <param-name>loginAction</param-name>
      <param-value>/private_ajax/loginAjax.do</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>DNIeFilter</filter-name>
    <filter-class>com.localgis.web.dnie.filters.DNIeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>setPrivateConfiguration</filter-name>
    <url-pattern>/private/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
       <filter-mapping>
        <filter-name>setIncidenciasConfiguration</filter-name>
        <url-pattern>/incidencias/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
  <filter-mapping>
    <filter-name>setPublicConfiguration</filter-name>
    <url-pattern>/public/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/private/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>loginFilterAjax</filter-name>
    <url-pattern>/private_ajax/*</url-pattern>
  </filter-mapping>
  
      <filter>
        <filter-name>loginFilterIncidencias</filter-name>
        <filter-class>com.localgis.web.filters.LoginFilter</filter-class>
        <init-param>
            <param-name>loginAction</param-name>
            <param-value>/incidencias/login.do</param-value>
        </init-param>
    </filter>
  <filter-mapping>
    <filter-name>DNIeFilter</filter-name>
    <url-pattern>/dnie/*</url-pattern>
  </filter-mapping>
 

 <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>400</error-code>
    <location>/error400.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error500.jsp</location>
  </error-page>

   <security-constraint>
    <web-resource-collection>
      <web-resource-name>Contents</web-resource-name>
      <description> Contents</description>
      <url-pattern>/dnie/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>CLIENT-CERT</auth-method>
  </login-config>
  
  
</web-app>