<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>geopista</display-name>

	<!-- SERVLET -->

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginAdministracion</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginAlp</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginCatastro</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginContaminantes</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginGeopista</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginInventario</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginLicencias</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginMetadatos</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginOcupaciones</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>LoginEIEL</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- SERVLET-MAPPING -->

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginAdministracion</servlet-name>
		<url-pattern>/LoginAdministracion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginAlp</servlet-name>
		<url-pattern>/LoginAlp</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginCatastro</servlet-name>
		<url-pattern>/LoginCatastro</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginContaminantes</servlet-name>
		<url-pattern>/LoginContaminantes</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginGeopista</servlet-name>
		<url-pattern>/LoginGeopista</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginInventario</servlet-name>
		<url-pattern>/LoginInventario</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginLicencias</servlet-name>
		<url-pattern>/LoginLicencias</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginMetadatos</servlet-name>
		<url-pattern>/LoginMetadatos</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginOcupaciones</servlet-name>
		<url-pattern>/LoginOcupaciones</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginEIEL</servlet-name>
		<url-pattern>/LoginEIEL</url-pattern>
	</servlet-mapping>
	
	<!-- SECURITY-CONSTRAINT -->

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/Login/*</url-pattern>		
			<url-pattern>/LoginAdministracion/*</url-pattern>		
			<url-pattern>/LoginAlp/*</url-pattern>		
			<url-pattern>/LoginCatastro/*</url-pattern>		
			<url-pattern>/LoginContaminantes/*</url-pattern>		
			<url-pattern>/LoginGeopista/*</url-pattern>		
			<url-pattern>/LoginInventario/*</url-pattern>		
			<url-pattern>/LoginLicencias/*</url-pattern>		
			<url-pattern>/LoginMetadatos/*</url-pattern>		
			<url-pattern>/LoginOcupaciones/*</url-pattern>	
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Administracion.Login</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>CLIENT-CERT</auth-method>
		<realm-name>Jetty Demo Realm</realm-name>
	</login-config>
 
</web-app>
