<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>LicenciasActividad</display-name>
	
	<filter>
		<filter-name>FiltroSeguridad</filter-name>
		<filter-class>com.geopista.server.control.filtros.FiltroSeguridad</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>FiltroSeguridad</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

 	<listener>  
 		<listener-class>com.localgis.server.LocalgisSerlvetContextListener</listener-class>
 	</listener>	 

    <servlet>
    	<servlet-name>autorun</servlet-name>
    	<servlet-class>com.geopista.server.ServerContext</servlet-class>
    	<load-on-startup>1</load-on-startup>
  	</servlet>
  	
	<servlet>
		<servlet-name>CServletPrueba</servlet-name>
		<servlet-class>com.geopista.server.licencias.web.CServletPruebaActividad</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CServletLicenciasActividad</servlet-name>
		<servlet-class>com.geopista.server.licencias.web.CServletLicenciasActividad</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CServletIntentos</servlet-name>
		<servlet-class>com.geopista.server.control.web.CServletIntentos</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HeartBeat</servlet-name>
		<servlet-class>com.geopista.server.control.web.HeartBeat</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GetPerfil</servlet-name>
		<servlet-class>com.geopista.server.control.web.GetPerfil</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.geopista.server.control.web.Login</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.geopista.server.control.web.Logout</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>CServletDB</servlet-name>
		<servlet-class>com.geopista.sql.CServletDB</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>AdministradorCartografiaServlet</servlet-name>
		<servlet-class>com.geopista.server.administradorCartografia.AdministradorCartografiaServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	
	<servlet-mapping>
		<servlet-name>AdministradorCartografiaServlet</servlet-name>
		<url-pattern>/AdministradorCartografiaServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CServletPrueba</servlet-name>
		<url-pattern>/CServletPrueba</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CServletLicenciasActividad</servlet-name>
		<url-pattern>/CServletLicenciasActividad</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
			<servlet-name>HeartBeat</servlet-name>
			<url-pattern>/HeartBeat</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GetPerfil</servlet-name>
		<url-pattern>/GetPerfil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CServletIntentos</servlet-name>
		<url-pattern>/CServletIntentos</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CServletDB</servlet-name>
		<url-pattern>/CServletDB</url-pattern>
	</servlet-mapping>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/GetPerfil/*</url-pattern>
			<url-pattern>/Logout/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Common.Actions</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/CServletLicenciasActividad/*</url-pattern>
			<url-pattern>/CServletDB/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Geopista.Licencias.Consulta</role-name>
		</auth-constraint>
	</security-constraint>



	<security-constraint>
		<web-resource-collection>
			<web-resource-name>JAAS Role</web-resource-name>
			<url-pattern>/Login/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>LocalGIS.LicenciasActividad.Login</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>Jetty Demo Realm</realm-name>
	</login-config>
	
	<security-role>
	    <role-name>Geopista.Common.Actions</role-name>       
	</security-role>
	
	<security-role>
		<role-name>LocalGIS.LicenciasActividad.Login</role-name>       
	</security-role>	
	
	<security-role>
		<role-name>Geopista.Licencias.Consulta</role-name>       
	</security-role>	

	<security-role>
		<role-name>Geopista.Administracion.Login</role-name>
	</security-role>
	
	<security-role>
		<role-name>Geopista.Common.Actions</role-name>
	</security-role>
 
	<resource-ref>
     	<description>Localgis</description>
     	<res-ref-name>jdbc/localgis</res-ref-name>
     	<res-type>javax.sql.DataSource</res-type>
     	<res-auth>Container</res-auth>
  	</resource-ref>
	
</web-app>


