/* 
Geopista Layouts
Author: Alfonso Domnguez
version: 10.26.2004
*/

#top {
	display: block;
	position: relative;
	height: 8px;
	background: #fff;
	top: 0px;
	text-align: center;
}


#flash {
	display: block;
	position: relative;
	height: 128px;
	top: 4px;
	text-align: center;
	
}

#page {
	display: block;
	position: relative;
	height: 55px;
	left: 0px;
	top: 0px;
	width: 714px;
	background: #fff;
}

/* Menu System CSS Slide */

#menu {
	position: relative;
	display: block;
	height: 75px;
	
	
	width: 780px;
 }
#nav { position: absolute; left:0; right: 0; top: 30px; width: 780px; height: 34px; background: url(../images/cabecera.jpg);}

/* Navigation */

#nav b { display: none;  }

#inicio { position: absolute; top: 3px; left: 15px;}
#inicio2 { position: absolute; top: 47px; left: 15px;}
#mapas, #mwOn { position: absolute; top: 47px; left: 80px; }
#contacto, #mwOn { position: absolute; top: 85px; left: 70px; }
#noticias, #mpOn { position: absolute; top: 85px; left: 150px; }
#empleo, #mgOn { position: absolute; top: 85px; left: 215px; }
#login, #myOn { position: absolute; top: 85px; left: 285px; }

a#inicio { display: block; height: 25px; width: 125px; }
a#inicio2 { display: block; height: 25px; width: 75px; }
a#mapas { display: block; height: 25px; width: 75px; }
a#contacto { display: block; height: 25px; width: 75px; }
a#noticias { display: block; height: 25px; width: 75px; }
a#empleo { display: block; height: 25px; width: 75px; }
a#login { display: block; height: 25px; width: 75px; }





#main {
	display: block;
	position: relative;
	
	padding-bottom: 20px;
}

#lside {
	position: absolute;
	width: 780px;
	height:auto;
	z-index: 1;
	top: 0px;
	left: 0px;
}
#lside2 {
	position: absolute;
	width: 780px;
	height:auto;
	z-index: 1;
	top: 0px;
	left: 0px;
}

#rside {
	position: absolute;
	width: 182px;
	top: 17px;
	right: 0;
	z-index: 2;
	left: 577px;
}
.strip {
	display: block;
	
	padding: 0px 0px 0px;
	height: 118px;
	
	border: 1px solid #EFEFEF;
	margin-left: 2px;
	margin-right: 6px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.stripmini { display: block; background: url(../images/BGstripmini.gif) repeat-x; padding: 0; height: 15px; }
.contenido {
	display: block;
	padding: 5px 10px;
	height: auto;
	color: #000066;
	margin-right: 6px;
	margin-left: 2px;
	border: 1px solid #EFEFEF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.copy img { padding: 10px 0 10px 0; } 

#rs_menu {
	display: block;
	padding: 20px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	
}
#rs_menu { background: url(../images/rs-menu.gif) no-repeat; }



#end {
	display: block;
	position: relative;
	
	height: 36px;
	background: #006699;
	border: 1px solid #EFEFEF;
	margin-left: 2px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 10px;
	z-index: 12;
	width: 780px;
}

#valid { 
	position: absolute; 
	width: 210px; left: 20px; top: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	line-height: 16px;
	margin: 0;}
#valid a,#valid a:visited,#valid a:hover{
	color: #FFFFFF;
	font-size: 10px;
	line-height: 16px;
	margin: 0;
	text-decoration: none;
}
/*
	Definicin de estilos para los mapas
*/


.overviewTitleTable {
	width:100; 
	height:25; 
	border: 0px; 
	background-color: #FFFFFF; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;	
}

.legendDiv {
	width: auto;
	height: auto;
	
	border: 0px;
	display: table-cell;
	vertical-align: top;
	overflow:auto;
	
}

.legendTable {
	width: auto; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	border-collapse: collapse;
}

.legendTitleRow {
	text-align: center;	
	font-weight: bold;
}

.mapDiv {
	width:auto;
	height:auto; 
	border: 0px; 	
}





.topMapRow {
	height: 15px;
}

.centerMapRow {
	height: 350px;
}

.bottomMapRow {
	height: 15px;
}

.leftMapColumn {
	width: 15px;
	text-align: center;
}

.centerMapColumn {
	width: 460px;
	text-align: center;
}

.rightMapColumn {
	width: 15px;
	text-align: center;
}



.navButtonImg {
	border: 0px;
}

.propertiesDiv {
 	width:auto; 
	height:auto; 
	border: 0px; 
	
}


.mapaGuiaDiv {
 	width:auto; 
	height:auto; 
	border: 0px; 
}

.objectsDiv {
	width:500px; 
	height:60px; 
	border: 0px; 
	overflow:auto
}

.dataHeader{
/*
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
*/
	color: #FFFFFF;
	background-color: #0099CC;
	text-align: center;
	font-weight: bold;
}

.weakDataRow{
/*
	font-family: Verdana, sans-serif, Arial;
	font-size: 9px;
*/
	color: #000000;
	background-color: #A0A0FF;
	text-align: left;

}
.strongDataRow{
/*
	font-family: Verdana, sans-serif, Arial;
	font-size: 9px;
*/
	color: #000000;
	background-color: #C6C6FF;
	text-align: left;
}

.rubberBandDiv {
   position: absolute;
   visibility: hidden;
   width: 0px; 
   height: 0px;
   border: 1px dashed red;
}

.infoDiv {
	position: absolute;
	width: 5px;
	height: 5px;
	border: 2px solid red;
	left: 0px;
	top: 0px;
	z-index: 99;
	overflow:visible;
	visibility: hidden;
}
