<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="1.0+" codebase="http://aytogu28v06:8080/software/" href="$informationHomepage">
 <information>
	<title>$informationTitle</title>
	<vendor>$informationVendor</vendor>
	<homepage href="http://www.geopista.com" />
	<description>$informationDescription</description>
	<icon href="logo_geopista.gif" />
	<offline-allowed />
	<icon kind="splash" href="splash_geopista.gif" />
	<shortcut online="false">
	  <desktop />
	  <menu submenu="LocalGIS" />
	</shortcut>
 </information>
 <resources>
    <j2se version="1.6" initial-heap-size="128m" max-heap-size="1024m" />
    $dependencies
 </resources>
 <application-desc main-class="$mainClass">
 <argument>-Dfile.encoding=windows-1252</argument>
 </application-desc>
 <security><all-permissions/></security>
</jnlp>